Repository codestates-seb/seb39_main_048, pull requests merged in 2022-09, with the labels that each got.

#23 feat : 등록 페이지 및 로그인 마크업 완성
  client/index.html
  client/package-lock.json
  client/package.json
  client/src/App.css
  client/src/App.jsx
  client/src/assets/Clock.svg
  client/src/assets/Description.svg
  client/src/assets/Globe.svg
  client/src/assets/LogoColor.png
  client/src/assets/LogoWhite.png
  client/src/assets/Person.svg
  client/src/assets/Phone.svg
  client/src/assets/Plus.svg
  client/src/assets/SNSLogin/GoogleLogo.svg
  client/src/assets/SNSLogin/KakaoLogo.svg
  client/src/components/Footer.jsx
  client/src/components/SNSLoginContainer.jsx
  client/src/components/buttons/Category.jsx
  client/src/components/buttons/KeywordSelectBtn.jsx
  client/src/components/buttons/SNSBtns.jsx
  client/src/components/input/IdInput.jsx
  client/src/components/input/PasswordInput.jsx
  client/src/pages/Login.jsx
  client/src/pages/PlaceRegistration.jsx
  client/vite.config.js
Labels: client, LEE

#24 Feat/fe mainpage
  client/data/data.json
  client/index.html
  client/package-lock.json
  client/package.json
  client/src/App.css
  client/src/App.jsx
  client/src/assets/Avatar.svg
  client/src/assets/BookMark.svg
  client/src/assets/BookMarkEmpty.svg
  client/src/assets/DownButton.svg
  client/src/assets/Filter.svg
  client/src/assets/Hamberger.svg
  client/src/assets/LeftButton.svg
  client/src/assets/Location.svg
  client/src/assets/RightButton.svg
  client/src/assets/Search.svg
  client/src/assets/Star.svg
  client/src/assets/UpButton.svg
  client/src/assets/User.png
  client/src/assets/logo.png
  client/src/components/Category.jsx
  client/src/components/cards/PlaceCard1.jsx
  client/src/components/cards/PlaceCard2.jsx
  client/src/components/cards/PlaceCardGroup1.jsx
  client/src/components/cards/PlaceCardGroup2.jsx
  client/src/components/header/Nav.jsx
  client/src/components/mypage/MyBookMark.jsx
  client/src/components/mypage/MyPlace.jsx
  client/src/components/mypage/MySummary.jsx
  client/src/components/mypage/Sidebar.jsx
  client/src/hooks/useAPI.jsx
  client/src/pages/Listpage.jsx
  client/src/pages/Main.jsx
  client/src/pages/Mypage.jsx
  client/src/store/Store.jsx
  client/vite.config.js
Labels: kang, client

#35 feat : 디테일페이지 화면구성
  client/data/data.json
  client/src/App.jsx
  client/src/assets/LocationEmpty.svg
  client/src/components/Category.jsx
  client/src/components/buttons/BasicButton.jsx
  client/src/components/cards/PlaceCard1.jsx
  client/src/components/header/Nav.jsx
  client/src/components/mypage/MyBookMark.jsx
  client/src/components/mypage/Sidebar.jsx
  client/src/components/review/Review.jsx
  client/src/components/review/Reviews.jsx
  client/src/components/tags/HashTag.jsx
  client/src/hooks/useAPI.jsx
  client/src/hooks/useDetectClose.jsx
  client/src/hooks/useSearch.jsx
  client/src/pages/Detailpage.jsx
  client/src/pages/Listpage.jsx
  client/src/pages/Login.jsx
  client/src/pages/Mypage.jsx
  client/src/pages/PlaceRegistration.jsx
  client/src/store/Store.jsx
Labels: kang, client

#34 fix : 충돌 에러 수정
  client/data/data.json
  client/index.html
  client/package-lock.json
  client/package.json
  client/src/App.jsx
  client/src/components/Category.jsx
  client/src/components/Footer.jsx
  client/src/components/SNSLoginContainer.jsx
  client/src/components/header/Nav.jsx
  client/src/components/input/IdInput.jsx
  client/src/components/input/PasswordInput.jsx
  client/src/hooks/useAPI.jsx
  client/src/pages/Listpage.jsx
  client/src/pages/Login.jsx
  client/src/pages/Map.jsx
  client/src/pages/PlaceRegistration.jsx
  client/src/pages/Signup.jsx
  client/src/store/Store.jsx
Labels: client, LEE

#40 feat : 회원가입 기능 구현
  client/data/data.json
  client/src/components/Footer.jsx
  client/src/components/header/Nav.jsx
  client/src/components/input/IdInput.jsx
  client/src/components/input/PasswordInput.jsx
  client/src/pages/Login.jsx
  client/src/pages/PlaceRegistration.jsx
  client/src/pages/Signup.jsx
  client/src/store/SignupStore.jsx
Labels: client

#44 Feat/fe signup
  client/data/data.json
  client/src/App.jsx
  client/src/api/core/index.jsx
  client/src/api/main.jsx
  client/src/components/input/PasswordInput.jsx
  client/src/main.jsx
  client/src/pages/Login.jsx
  client/src/pages/Signup.jsx
  client/src/store/LoginStore.jsx
  client/vite.config.js
Labels: client, LEE

#46 Feat/fe listpage
  client/data/data.json
  client/package-lock.json
  client/package.json
  client/src/api/API.jsx
  client/src/components/filters/Category.jsx
  client/src/components/filters/Filter.jsx
  client/src/components/filters/FilterGroup.jsx
  client/src/components/filters/FilterItem.jsx
  client/src/components/filters/Search.jsx
  client/src/components/mypage/MyBookMark.jsx
  client/src/constant.jsx
  client/src/hooks/useAPI.jsx
  client/src/hooks/useDetectClose.jsx
  client/src/pages/Listpage.jsx
  client/src/store/FilterStore.jsx
  package-lock.json
  package.json
Labels: kang, client, LEE
