Repository codestates-seb/seb39_main_048, pull requests merged in 2022-10, with the labels that each got.

#55 Feat/fe map
  client/.gitignore
  client/data/data.json
  client/index.html
  client/package-lock.json
  client/package.json
  client/src/App.jsx
  client/src/components/cards/MapListCard.jsx
  client/src/components/header/Nav.jsx
  client/src/components/map/MapBackground.jsx
  client/src/components/registpage/AddressPost.jsx
  client/src/pages/Map.jsx
Labels: client

#62 Feat/fe reply
  client/index.html
  client/src/api/core/axiosConfig.jsx
  client/src/components/filters/Search.jsx
  client/src/components/review/Review.jsx
  client/src/components/review/Reviews.jsx
  client/src/hooks/useAPI.jsx
  client/src/pages/Login.jsx
  client/src/pages/Map.jsx
  client/src/pages/Signup.jsx
  client/vite.config.js
Labels: kang, client, LEE

#67 Feat/be api implement
  server/.gitignore
  server/build.gradle
  server/gradle/wrapper/gradle-wrapper.jar
  server/gradle/wrapper/gradle-wrapper.properties
  server/gradlew
  server/gradlew.bat
  server/settings.gradle
  server/src/main/java/com/mainproject/server/ServerApplication.java
  server/src/main/java/com/mainproject/server/SwaggerConfig.java
  server/src/main/java/com/mainproject/server/audit/Auditable.java
  server/src/main/java/com/mainproject/server/dto/MainResponseDto.java
  server/src/main/java/com/mainproject/server/dto/MultiResponseDto.java
  server/src/main/java/com/mainproject/server/dto/PageInfo.java
  server/src/main/java/com/mainproject/server/dto/SingleResponseDto.java
  server/src/main/java/com/mainproject/server/place/controller/PlaceController.java
  server/src/main/java/com/mainproject/server/place/controller/PlaceSpecs.java
  server/src/main/java/com/mainproject/server/place/dto/PlaceDto.java
  server/src/main/java/com/mainproject/server/place/dto/RequestFilterDto.java
  server/src/main/java/com/mainproject/server/place/dto/TagNameDto.java
  server/src/main/java/com/mainproject/server/place/entity/Place.java
  server/src/main/java/com/mainproject/server/place/entity/PlaceTag.java
  server/src/main/java/com/mainproject/server/place/mapper/PlaceMapper.java
  server/src/main/java/com/mainproject/server/place/repository/PlaceRepository.java
  server/src/main/java/com/mainproject/server/place/service/PlaceService.java
  server/src/main/java/com/mainproject/server/reply/controller/ReplyController.java
  server/src/main/java/com/mainproject/server/reply/dto/ReplyDto.java
  server/src/main/java/com/mainproject/server/reply/entity/Reply.java
  server/src/main/java/com/mainproject/server/reply/mapper/ReplyMapper.java
  server/src/main/java/com/mainproject/server/reply/repository/ReplyRepository.java
  server/src/main/java/com/mainproject/server/reply/service/ReplyService.java
  server/src/main/java/com/mainproject/server/reply/service/ScoreCalculator.java
  server/src/main/java/com/mainproject/server/tag/controller/TagController.java
  server/src/main/java/com/mainproject/server/tag/entity/Tag.java
  server/src/main/java/com/mainproject/server/tag/repository/TagRepository.java
  server/src/main/java/com/mainproject/server/tag/service/TagService.java
  server/src/main/java/com/mainproject/server/user/controller/UserController.java
  server/src/main/java/com/mainproject/server/user/entity/User.java
  server/src/main/resources/application.yml
  server/src/test/java/com/mainproejct/server/ServerApplicationTests.java
Labels: server, Oh

#68 Feat/be mypage
  server/build.gradle
  server/src/main/java/com/mainproject/server/ServerApplication.java
  server/src/main/java/com/mainproject/server/auth/CustomAuthenticationManager.java
  server/src/main/java/com/mainproject/server/auth/PrincipalDetails.java
  server/src/main/java/com/mainproject/server/auth/PrincipalDetailsService.java
  server/src/main/java/com/mainproject/server/config/CorsConfig.java
  server/src/main/java/com/mainproject/server/config/SecurityConfig.java
  server/src/main/java/com/mainproject/server/filter/JwtAuthenticationFilter.java
  server/src/main/java/com/mainproject/server/filter/JwtAuthorizationFilter.java
  server/src/main/java/com/mainproject/server/place/controller/PlaceController.java
  server/src/main/java/com/mainproject/server/place/controller/PlaceSpecs.java
  server/src/main/java/com/mainproject/server/place/dto/PlaceDto.java
  server/src/main/java/com/mainproject/server/place/entity/Place.java
  server/src/main/java/com/mainproject/server/place/entity/PlaceTag.java
  server/src/main/java/com/mainproject/server/place/mapper/PlaceMapper.java
  server/src/main/java/com/mainproject/server/place/repository/PlaceRepository.java
  server/src/main/java/com/mainproject/server/place/service/PlaceService.java
  server/src/main/java/com/mainproject/server/reply/controller/ReplyController.java
  server/src/main/java/com/mainproject/server/reply/dto/ReplyDto.java
  server/src/main/java/com/mainproject/server/reply/entity/Reply.java
  server/src/main/java/com/mainproject/server/reply/mapper/ReplyMapper.java
  server/src/main/java/com/mainproject/server/reply/repository/ReplyRepository.java
  server/src/main/java/com/mainproject/server/reply/service/ReplyService.java
  server/src/main/java/com/mainproject/server/tag/service/TagService.java
  server/src/main/java/com/mainproject/server/user/controller/MypageController.java
  server/src/main/java/com/mainproject/server/user/controller/UserController.java
  server/src/main/java/com/mainproject/server/user/dto/UserDto.java
  server/src/main/java/com/mainproject/server/user/dto/UserResponseDto.java
  server/src/main/java/com/mainproject/server/user/entity/User.java
  server/src/main/java/com/mainproject/server/user/mapper/UserMapper.java
  server/src/main/java/com/mainproject/server/user/repository/UserRepository.java
  server/src/main/java/com/mainproject/server/user/service/MypageService.java
  server/src/main/java/com/mainproject/server/user/service/UserService.java
  server/src/main/resources/application.yml
  server/src/main/resources/data.sql
  server/src/test/java/com/mainproject/server/ServerApplicationTests.java
Labels: server, Oh
